@import 'foundation.css';

.ingredient {
  /* background: #e6e6e6; */
  margin-bottom: 10px;
  margin-top: 10px;
  /* text-align: center;
  vertical-align: center; */
}

.comment {
  border: 1px solid #e6e6e6;
}

.category {
  width: 30%;
}

.recipe {
  width: 20%;
  margin-right: 20px;
}

.image-preview {
  text-align: right;
  /* display: flex;
  flex-flow: row wrap; */
}

.image-preview img {
  width: 30%;
}

.image-preview img:first-child {
  width: 70%;
}

body {
  position: relative;
  min-height: 100vh;
  padding-bottom: 4.5rem;
}


.footer {
  position: absolute;
  padding: 1rem 1.5rem;
  bottom: 0;
  width: 100%;
  background: #e6e6e6;

}

.footer-right {
  text-align: right;
}

.description span, .directions span, .category span, .recipe span {
  font-size: 18px;
  font-weight: 600;
  color: gray;
}
