<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>RecipesApp</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{content-for "head"}}

    <link rel="icon" href="{{rootURL}}assets/images/pie-icon.png">
    <link integrity="" rel="stylesheet" href="{{rootURL}}assets/vendor.css">
    <link integrity="" rel="stylesheet" href="{{rootURL}}assets/recipes-app.css">

    {{content-for "head-footer"}}
  </head>
  <body>
    {{content-for "body"}}

    <script src="{{rootURL}}assets/vendor.js"></script>
    <script src="{{rootURL}}assets/recipes-app.js"></script>
    <script src="{{rootURL}}assets/js/vendor/jquery.js"></script>
    <script src="{{rootURL}}assets/js/vendor/what-input.js"></script>
    <script src="{{rootURL}}assets/js/app.js"></script>

    {{content-for "body-footer"}}
  </body>
</html>
