{{!-- The following component displays Ember's default welcome message. --}}
{{!-- <WelcomePage /> --}}
{{!-- Feel free to remove this! --}}

<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">Recipes app</li>
      <li><a href="/">Home</a></li>
      <li>
        {{#link-to "recipes"}} Recipes {{/link-to}}
      </li>
      <li>
        {{#link-to "categories"}} Categories {{/link-to}}
      </li>
      <!-- <li><a href="#">Recipes</a></li> -->
      <!-- <li><a href="#">Categories</a></li> -->
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <!-- <li><a href="#">My Recipes</a></li>
      <li><a href="#">Favorites</a></li> -->
      <li>
        {{!-- {{#link-to "user"}} User {{/link-to}} --}}
      </li>
      <li><a href="#">Log out</a></li>

    </ul>
  </div>
</div>
<div class="grid-y grid-padding-y align-center">
  <div class="cell grid-x grid-margin-y align-center">
    {{outlet}}
  </div>
</div>
<div class="footer grid-x grid-margin-x medium-margin-collapse small-up-2 medium-up-2 large-up-2">
  <div class="cell footer-left">
    Ember JS
  </div>
  <div class="cell footer-right">
    test@test.com
  </div>
</div>
