<nav class="cell large-4" aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="/">Home</a></li>
    <li>{{#link-to "categories"}} Categories {{/link-to}}</li>
    <li><span class="show-for-sr">Current: </span> {{model.name}}</li>
  </ul>
</nav>
<ul class="cell large-4 menu align-right">
  <li><input type="search" placeholder="Search"></li>
  <li>{{#link-to "search" class="button"}} Search {{/link-to}}</li>
  <!-- <li><button type="button" class="button">Search</button></li> -->
</ul>
<div class="cell large-8 grid-x">
  <div class="cell">
    <h2>{{model.name}}</h2>
  </div>
</div>
<div class="cell large-8 grid-x">
  <div class="categories cell large-8 grid-x grid-margin-x">
    {{#each model.recipes as |recipe index|}}
      <div class="category">
        <span>{{recipe.name}}</span>
        <LinkTo @route="recipe" @model={{recipe.id}} class="thumbnail cell">
          <img src="http://localhost:3000/{{recipe.imageUrl}}" alt="picture"/>
        </LinkTo>
      </div>
    {{/each}}
  </div>
  <div class="description cell large-4 align-right">
    <h3>{{model.name}}</h3>
    <p>{{model.description}}</p>
  </div>
</div>
{{outlet}}
