<nav class="cell large-4" aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="/">Home</a></li>
    <li><span class="show-for-sr">Current: </span> Categories</li>
  </ul>
</nav>
<ul class="cell large-4 menu align-right">
  <li><input type="search" placeholder="Search"></li>
  <li>{{#link-to "search" class="button"}} Search {{/link-to}}</li>
  <!-- <li><button type="button" class="button">Search</button></li> -->
</ul>
<div class="cell large-8 grid-x">
  <div class="cell">
    <h2>All categories</h2>
  </div>
</div>
<div class="categories cell large-8 grid-x">
  <div class="cell">
    <ul>
    {{#each model as |category index|}}
      <li class="category">
        <h3>{{category.name}}</h3>
        <LinkTo @route="category" @model={{category.id}} class="thumbnail cell">
          <img src="http://localhost:3000/{{category.imageUrl}}" alt="picture"/>
        </LinkTo>
      </li>
    {{/each}}
      <li class="category">
        {{#link-to "new-category"}} New category {{/link-to}}
      </li>
    </ul>
  </div>
  {{outlet}}
</div>
