<nav class="cell large-4" aria-label="You are here:" role="navigation">
</nav>
<ul class="cell large-4 menu align-right">
  <li><input type="search" placeholder="Search"></li>
  <li>{{#link-to "search" class="button"}} Search {{/link-to}}</li>
  <!-- <li><button type="button" class="button">Search</button></li> -->
</ul>
<div class="cell large-8 grid-x">
  <div class="cell">
    <h2>Recipe App</h2>
  </div>
</div>
<div class="categories cell large-8 grid-x">
  <div class="cell"><h3>Popular categories</h3></div>
  {{#each model.allCategories as |category index|}}
      <div class="category">
        <span>{{category.name}}</span>
        <LinkTo @route="category" @model={{category.id}} class="thumbnail cell">
          <img src="http://localhost:3000/{{category.imageUrl}}" alt="picture"/>
        </LinkTo>
      </div>
  {{/each}}
</div>
<div class="cell large-8 grid-x">
  <div class="cell">
    <h3>Last recipes</h3>
    <div class="recipes cell large-8 grid-x">
      {{#each model.allRecipes as |recipe index|}}
        <div class="cell recipe">
          <span>{{recipe.name}}</span>
          <LinkTo @route="recipe" @model={{recipe.id}} class="thumbnail cell">
            <img src="http://localhost:3000/{{recipe.imageUrl}}" alt="picture"/>
          </LinkTo>
        </div>
      {{/each}}
    </div>
  </div>
</div>
{{outlet}}
