<nav class="cell large-4" aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="/">Home</a></li>
    <li><span class="show-for-sr">Current: </span> New category</li>
  </ul>
</nav>
<ul class="cell large-4 menu align-right">
  <li><input type="search" placeholder="Search"></li>
  <li>{{#link-to "search" class="button"}} Search {{/link-to}}</li>
</ul>
  <div class="cell grid-x grid-padding-x">
    <div class="cell small-3"><div class="text-right middle">Name</div></div>
    <div class="cell small-3">{{input value=name}}</div>
  </div>
  <div class="cell grid-x grid-padding-x">
    <div class="small-3 cell"><div class="text-right middle">Description</div></div>
    <div class="small-3 cell">{{textarea value=description cols="80" rows="6"}}</div>
  </div>
  <div class="cell grid-x grid-padding-x">
    <div class="small-3 cell"><div class="text-right middle">Upload Image</div></div>
    <div class="small-3 cell">
      <ul>
      {{#each file in files}}
        {{file.name}}
      {{/each}}
      </ul>

      {{x-file-input name="files" multiple=true action=(action "didSelectFiles") alt="Choose a File"}}
    </div>
  </div>
  <div class="cell grid-x grid-padding-x">
    <div class="cell small-3 small-offset-3">
        <button class="button" {{action "submit"}}>Save</button>
    </div>
  </div>
{{outlet}}
