<nav class="cell large-4" aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="/">Home</a></li>
    <li>
      <span class="show-for-sr">Current: </span> Recipes
    </li>
  </ul>
</nav>
<ul class="cell large-4 menu align-right">
  <li><input type="search" placeholder="Search"></li>
  <li>{{#link-to "search" class="button"}} Search {{/link-to}}</li>
  <!-- <li><button type="button" class="button">Search</button></li> -->
</ul>
<div class="cell large-8 grid-x">
  <div class="cell">
    <h2>Recipes</h2>
  </div>
</div>
<div class="categories cell large-8 grid-x">
  {{#each model as |recipe index|}}
    <div class="cell recipe">
      <span>{{recipe.name}}</span>
      <LinkTo @route="recipe" @model={{recipe.id}} class="thumbnail cell">
        <img src="http://localhost:3000/{{recipe.imageUrl}}" alt="picture"/>
      </LinkTo>
    </div>
  {{/each}}
  <div class="cell recipe">
    {{#link-to "new-recipe"}} New recipe {{/link-to}}
  </div>
</div>
{{outlet}}
