<nav class="cell large-4" aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="/">Home</a></li>
    <li>{{#link-to "recipes"}} Recipes {{/link-to}}</li>
    <li><span class="show-for-sr">Current: </span> {{@model.name}}</li>
  </ul>
</nav>
<ul class="cell large-4 menu align-right">
  <li><input type="search" placeholder="Search"></li>
  <li>{{#link-to "search" class="button"}} Search {{/link-to}}</li>
</ul>
<div class="cell large-8 grid-x">
  <div class="cell">
    <h2>{{@model.name}}</h2>
  </div>
</div>
<div class="cell large-8 grid-x">
  <div class="description cell large-4 grid-x">
    <div class="cell">
      <span>Recipe's categories: </span>
      <div class="categories grid-x grid-x">
        {{#each model.categories as |category index|}}
          <LinkTo @route="category" @model={{category.id}} class="category">
            {{category.name}}
          </LinkTo>
        {{/each}}
      </div>
    </div>
    <div class="cell"><span>Recipe by user: </span>
       <LinkTo @route="user" @model={{@model.user.id}} class="user">
        {{@model.user.username}}
      </LinkTo>
    </div>
    <div class="cell"><span>Time: </span> {{@model.time}}</div>
    <div class="cell">
      <span>Ingredients: </span>
      <div class="ingredients grid-x grid-margin-x">
        <div class="cell ingredient">{{@model.ingredients}}</div>
      </div>
    </div>
  </div>
  <div class="image-preview cell large-8 align-right">
    <img class="thumbnail" src="http://localhost:3000/{{@model.imageUrl}}" alt="picture"/>
  </div>
</div>
<div class="directions cell large-8 grid-x">
  <div class="cell">
    <span>Directions</span>
    <p>
      {{@model.directions}}
    </p>
  </div>
  {{!-- <div class="cell small-2">
    <a href="#" class="button">Add to favorites</a>
  </div> --}}
{{outlet}}
</div>
<div class="comments cell large-8 grid-x grid-margin-y grid-padding-x">
{{#each @model.comments as |comment index|}}
  <div class="cell comment">
    <div class="user">{{comment.user.username}}</div>
    <div class="content">{{comment.content}}</div>
  </div>
{{/each}}
  <div class="cell comment-new">
    <textarea name="name" rows="4" cols="20"></textarea>
    <a href="#" class="button">Post Comment</a>
    <a href="#" class="button secondary">Cancel</a>
  </div>
</div>

