<nav class="cell large-4" aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="/">Home</a></li>
    <li>
      <span class="show-for-sr">Current: </span> Search
    </li>
  </ul>
</nav>
<ul class="cell large-4 menu align-right">
</ul>
<div class="cell large-8 grid-x">
  <div class="cell">
    <h2>Search</h2>
  </div>
</div>
<div class="cell large-8 grid-x grid-padding-x">
  <div class="medium-3 cell">
    <label>Name
      <input type="text">
    </label>
  </div>
  <div class="medium-3 cell">
    <label>Ingredients
      <input type="text">
    </label>
  </div>
  <div class="medium-3 cell">
    <label>Time
      <input type="text">
    </label>
  </div>
  <div class="small-2 cell">
    <label><br>
      <button class="button">Search</button>
    </label>
  </div>
</div>
<div class="recipes cell large-8 grid-x">
  <ul>
    <li class="recipe cell">
      <span>Hungarian Mushroom Soup</span>
      {{#link-to "recipe" class="thumbnail cell"}} <img src="{{rootURL}}assets/images/dish1.jpg" alt="picture"/> {{/link-to}}
    </li>
    <li class="recipe cell">
      <span>Hungarian Mushroom Soup</span>
      {{#link-to "recipe" class="thumbnail cell"}} <img src="{{rootURL}}assets/images/dish1.jpg" alt="picture"/> {{/link-to}}
    </li>
    <li class="recipe cell">
      <span>Hungarian Mushroom Soup</span>
      {{#link-to "recipe" class="thumbnail cell"}} <img src="{{rootURL}}assets/images/dish1.jpg" alt="picture"/> {{/link-to}}
    </li>
  </ul>
</div>
{{outlet}}
