<nav class="cell large-4" aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="/">Home</a></li>
    <li><span class="show-for-sr">Current: </span> {{model.username}}</li>
  </ul>
</nav>
<ul class="cell large-4 menu align-right">
  <li><input type="search" placeholder="Search"></li>
  <li>{{#link-to "search" class="button"}} Search {{/link-to}}</li>
  <!-- <li><button type="button" class="button">Search</button></li> -->
</ul>
<div class="cell large-8 grid-x">
  <div class="cell">
    <h2>User</h2>
    <h3>{{model.firstName}} {{model.lastName}}</h3>
  </div>
</div>
<div class="cell large-8 grid-x">
  <div class="cell">
    <h3>User's recipes</h3>
    <div class="recipes cell large-8 grid-x">
      {{#each model.recipes as |recipe index|}}
        <div class="recipe">
          <span>{{recipe.name}}</span>
          <LinkTo @route="recipe" @model={{recipe.id}} class="thumbnail cell">
            <img src="http://localhost:3000/{{recipe.imageUrl}}" alt="picture"/>
          </LinkTo>
        </div>
      {{/each}}
    </div>
  </div>
</div>
<div class="cell large-8 grid-x">
  <div class="cell">
    <h3>Favorite recipes</h3>
    <div class="recipes cell large-8 grid-x">
      {{#each model.favorites as |favorite index|}}
        <div class="recipe">
          <span>{{favorite.recipe.name}}</span>
          <LinkTo @route="recipe" @model={{favorite.recipe.id}} class="thumbnail cell">
            <img src="http://localhost:3000/{{favorite.recipe.imageUrl}}" alt="picture"/>
          </LinkTo>
        </div>
      {{/each}}
    </div>
  </div>
</div>
{{outlet}}
